.md-grid h1 {
  font-family: var(--font-roboto);
  font-size: 42px;
}

.md-grid-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.md-grid-element {
  margin: 0 40px 40px 0;
  background: #353535;
  max-height: 430px;
  animation: animateGrid 0.5s;
  overflow: hidden;
}

@keyframes animateGrid {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* For a 4-column grid */
.md-grid-element:nth-child(4n + 4) {
  margin-right: 0;
}

@media screen and (max-width: 720px) {
  .md-grid-content {
    grid-template-columns: auto auto;
  }

  .md-grid-element:nth-child(2n + 2) {
    margin-right: 0;
  }

  .md-grid h1 {
    font-size: 22px;
  }
}
