.md-loadmorebtn {
  background: cadetblue;
  width: 100%;
  min-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.md-loadmorebtn p {
  font-family: var(--font-roboto);
  font-size: 42px;
  padding: 20px;
}

.md-loadmorebtn:hover {
  opacity: 0.8;
}
