.md-movieinfo {
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
  height: 600px;
  padding: 40px 20px;
  box-sizing: border-box;
  animation: animateMovieinfo 1s;
}

@keyframes animateMovieinfo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.md-movieinfo-content {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: rgb(0, 0, 0, 0.9);
  position: relative;
}

.md-movieinfo-thumb {
  width: 350px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0px;
}

.md-movieinfo-text {
  height: 100%;
  width: auto;
  color: #fff;
  padding: 40px;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  left: 360px;
}

.md-movieinfo-text h1 {
  font-family: var(--font-roboto);
  font-size: 48px;
  margin: 0;
}

.md-movieinfo-text h3 {
  font-size: 16px;
  line-height: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}

.md-movieinfo-text p {
  font-family: var(--font-roboto);
  font-size: 18px;
  line-height: 26px;
}

.md-rating {
  width: 250px;
  height: 20px;
  margin-top: 20px;
  position: relative;
}

.md-score {
  position: absolute;
  margin: 0;
  right: 0px;
  top: -3px;
}

.md-director {
  margin: 10px 0;
}

.md-movieinfo-text a:hover {
  transform: scale(1.1);
}

.homepage-link {
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: #fff;
}

meter::-webkit-meter-bar {
  background: #fff;
  width: 200px;
}
meter::-webkit-meter-optimum-value {
  background: linear-gradient(to bottom, #16d47b);
}
meter::-webkit-meter-suboptimum-value {
  background: linear-gradient(to bottom, #fbb450);
}
meter::-webkit-meter-even-less-good-value {
  background: linear-gradient(to bottom, #ee5f5b);
}
