.md-navigation {
  width: 100%;
  height: 50px;
  background: #353535;
  color: #fff;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  margin: 0;
  padding-top: 10px;
}

.md-navigation div {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.md-navigation div p {
  font-family: var(--font-roboto);
  font-size: 22px;
  float: left;
  color: #fff;
  padding-right: 10px;
  text-decoration: none;
  margin: 0;
}
